<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tech.sayo.background.sys.dao.SMessageMapper" >
  <resultMap id="BaseResultMap" type="com.tech.sayo.background.sys.bean.SMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="message_type" property="messageType" jdbcType="INTEGER" />
    <result column="message_level" property="messageLevel" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="planning_time" property="planningTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_id, user_id, message_type, message_level, content, status, url, params, created_date, 
    created_by, updated_date, updated_by, delete_flag, title, planning_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.sayo.background.sys.bean.SMessage" >
    insert into s_message (id, org_id, user_id, 
      message_type, message_level, content, 
      status, url, params, 
      created_date, created_by, updated_date, 
      updated_by, delete_flag, title, 
      planning_time)
    values (#{id,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{messageType,jdbcType=INTEGER}, #{messageLevel,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{planningTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertByBatch" parameterType="java.util.List" >
    insert into s_message (id, org_id, user_id, 
      message_type, message_level, content, 
      status, url, params, 
      created_date, created_by, updated_date, 
      updated_by, delete_flag, title, 
      planning_time)
   	  values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=INTEGER}, #{item.orgId,jdbcType=INTEGER}, #{item.userId,jdbcType=INTEGER}, 
       #{item.messageType,jdbcType=INTEGER}, #{item.messageLevel,jdbcType=INTEGER}, #{item.content,jdbcType=VARCHAR}, 
       #{item.status,jdbcType=INTEGER}, #{item.url,jdbcType=VARCHAR}, #{item.params,jdbcType=VARCHAR}, 
       #{item.createdDate,jdbcType=TIMESTAMP}, #{item.createdBy,jdbcType=VARCHAR}, #{item.updatedDate,jdbcType=TIMESTAMP}, 
       #{item.updatedBy,jdbcType=VARCHAR}, #{item.deleteFlag,jdbcType=INTEGER}, #{item.title,jdbcType=VARCHAR}, 
       #{item.planningTime,jdbcType=TIMESTAMP})
      </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tech.sayo.background.sys.bean.SMessage" >
    insert into s_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="messageType != null" >
        message_type,
      </if>
      <if test="messageLevel != null" >
        message_level,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="params != null" >
        params,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="planningTime != null" >
        planning_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=INTEGER},
      </if>
      <if test="messageLevel != null" >
        #{messageLevel,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="planningTime != null" >
        #{planningTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.sayo.background.sys.bean.SMessage" >
    update s_message
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="messageType != null" >
        message_type = #{messageType,jdbcType=INTEGER},
      </if>
      <if test="messageLevel != null" >
        message_level = #{messageLevel,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="planningTime != null" >
        planning_time = #{planningTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.sayo.background.sys.bean.SMessage" >
    update s_message
    set org_id = #{orgId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      message_type = #{messageType,jdbcType=INTEGER},
      message_level = #{messageLevel,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      planning_time = #{planningTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>