<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ftc.wechat.clean.dao.DifOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ftc.wechat.clean.bean.DifOrder" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_datetime" property="orderDatetime" jdbcType="VARCHAR" />
    <result column="order_cle_orderid" property="orderCleOrderid" jdbcType="INTEGER" />
    <result column="order_cle_orderno" property="orderCleOrderno" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_no, order_datetime, order_cle_orderid, order_cle_orderno, order_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cle_dif_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cle_dif_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ftc.wechat.clean.bean.DifOrder" >
    insert into cle_dif_order (order_id, order_no, order_datetime, 
      order_cle_orderid, order_cle_orderno, order_amount
      )
    values (#{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderDatetime,jdbcType=VARCHAR}, 
      #{orderCleOrderid,jdbcType=INTEGER}, #{orderCleOrderno,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ftc.wechat.clean.bean.DifOrder" >
    insert into cle_dif_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderDatetime != null" >
        order_datetime,
      </if>
      <if test="orderCleOrderid != null" >
        order_cle_orderid,
      </if>
      <if test="orderCleOrderno != null" >
        order_cle_orderno,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDatetime != null" >
        #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderCleOrderid != null" >
        #{orderCleOrderid,jdbcType=INTEGER},
      </if>
      <if test="orderCleOrderno != null" >
        #{orderCleOrderno,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ftc.wechat.clean.bean.DifOrder" >
    update cle_dif_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDatetime != null" >
        order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderCleOrderid != null" >
        order_cle_orderid = #{orderCleOrderid,jdbcType=INTEGER},
      </if>
      <if test="orderCleOrderno != null" >
        order_cle_orderno = #{orderCleOrderno,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DOUBLE},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ftc.wechat.clean.bean.DifOrder" >
    update cle_dif_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      order_cle_orderid = #{orderCleOrderid,jdbcType=INTEGER},
      order_cle_orderno = #{orderCleOrderno,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=DOUBLE}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>