<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ftc.wechat.clean.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.ftc.wechat.clean.bean.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_category" property="orderCategory" jdbcType="INTEGER" />
    <result column="order_datetime" property="orderDatetime" jdbcType="VARCHAR" />
    <result column="order_service_number" property="orderServiceNumber" jdbcType="INTEGER" />
    <result column="order_statusid" property="orderStatusid" jdbcType="INTEGER" />
    <result column="order_payableamount" property="orderPayableamount" jdbcType="DOUBLE" />
    <result column="order_realpayamount" property="orderRealpayamount" jdbcType="DOUBLE" />
    <result column="order_discountamount" property="orderDiscountamount" jdbcType="DOUBLE" />
    <result column="order_discountinfo" property="orderDiscountinfo" jdbcType="VARCHAR" />
    <result column="order_paytype" property="orderPaytype" jdbcType="INTEGER" />
    <result column="order_payid" property="orderPayid" jdbcType="INTEGER" />
    <result column="order_userid" property="orderUserid" jdbcType="INTEGER" />
    <result column="order_addressid" property="orderAddressid" jdbcType="INTEGER" />
    <result column="order_addressprovince" property="orderAddressprovince" jdbcType="VARCHAR" />
    <result column="order_addresscity" property="orderAddresscity" jdbcType="VARCHAR" />
    <result column="order_addresscounty" property="orderAddresscounty" jdbcType="VARCHAR" />
    <result column="order_addressstreet" property="orderAddressstreet" jdbcType="VARCHAR" />
    <result column="order_addressconsignee" property="orderAddressconsignee" jdbcType="VARCHAR" />
    <result column="order_addressmobile" property="orderAddressmobile" jdbcType="VARCHAR" />
    <result column="order_deleted" property="orderDeleted" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="serialResultMap" type="com.ftc.base.util.OrderNoUtil" >
    <result column="serial" property="serial" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_no, order_category, order_datetime, order_service_number, order_statusid, 
    order_payableamount, order_realpayamount, order_discountamount, order_discountinfo, 
    order_paytype, order_payid, order_userid, order_addressid, order_addressprovince, 
    order_addresscity, order_addresscounty, order_addressstreet, order_addressconsignee, 
    order_addressmobile, order_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cle_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
   <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cle_order
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="selectSerial" resultMap="serialResultMap" >
   select 
    (count(1) + 1) as serial
    from cle_order
    where date_format(order_datetime,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cle_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ftc.wechat.clean.bean.Order" >
    insert into cle_order (order_id, order_no, order_category, 
      order_datetime, order_service_number, order_statusid, 
      order_payableamount, order_realpayamount, order_discountamount, 
      order_discountinfo, order_paytype, order_payid, 
      order_userid, order_addressid, order_addressprovince, 
      order_addresscity, order_addresscounty, order_addressstreet, 
      order_addressconsignee, order_addressmobile, 
      order_deleted)
    values (#{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderCategory,jdbcType=INTEGER}, 
      #{orderDatetime,jdbcType=VARCHAR}, #{orderServiceNumber,jdbcType=INTEGER}, #{orderStatusid,jdbcType=INTEGER}, 
      #{orderPayableamount,jdbcType=DOUBLE}, #{orderRealpayamount,jdbcType=DOUBLE}, #{orderDiscountamount,jdbcType=DOUBLE}, 
      #{orderDiscountinfo,jdbcType=VARCHAR}, #{orderPaytype,jdbcType=INTEGER}, #{orderPayid,jdbcType=INTEGER}, 
      #{orderUserid,jdbcType=INTEGER}, #{orderAddressid,jdbcType=INTEGER}, #{orderAddressprovince,jdbcType=VARCHAR}, 
      #{orderAddresscity,jdbcType=VARCHAR}, #{orderAddresscounty,jdbcType=VARCHAR}, #{orderAddressstreet,jdbcType=VARCHAR}, 
      #{orderAddressconsignee,jdbcType=VARCHAR}, #{orderAddressmobile,jdbcType=VARCHAR}, 
      #{orderDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ftc.wechat.clean.bean.Order" >
    insert into cle_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderCategory != null" >
        order_category,
      </if>
      <if test="orderDatetime != null" >
        order_datetime,
      </if>
      <if test="orderServiceNumber != null" >
        order_service_number,
      </if>
      <if test="orderStatusid != null" >
        order_statusid,
      </if>
      <if test="orderPayableamount != null" >
        order_payableamount,
      </if>
      <if test="orderRealpayamount != null" >
        order_realpayamount,
      </if>
      <if test="orderDiscountamount != null" >
        order_discountamount,
      </if>
      <if test="orderDiscountinfo != null" >
        order_discountinfo,
      </if>
      <if test="orderPaytype != null" >
        order_paytype,
      </if>
      <if test="orderPayid != null" >
        order_payid,
      </if>
      <if test="orderUserid != null" >
        order_userid,
      </if>
      <if test="orderAddressid != null" >
        order_addressid,
      </if>
      <if test="orderAddressprovince != null" >
        order_addressprovince,
      </if>
      <if test="orderAddresscity != null" >
        order_addresscity,
      </if>
      <if test="orderAddresscounty != null" >
        order_addresscounty,
      </if>
      <if test="orderAddressstreet != null" >
        order_addressstreet,
      </if>
      <if test="orderAddressconsignee != null" >
        order_addressconsignee,
      </if>
      <if test="orderAddressmobile != null" >
        order_addressmobile,
      </if>
      <if test="orderDeleted != null" >
        order_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCategory != null" >
        #{orderCategory,jdbcType=INTEGER},
      </if>
      <if test="orderDatetime != null" >
        #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderServiceNumber != null" >
        #{orderServiceNumber,jdbcType=INTEGER},
      </if>
      <if test="orderStatusid != null" >
        #{orderStatusid,jdbcType=INTEGER},
      </if>
      <if test="orderPayableamount != null" >
        #{orderPayableamount,jdbcType=DOUBLE},
      </if>
      <if test="orderRealpayamount != null" >
        #{orderRealpayamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountamount != null" >
        #{orderDiscountamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountinfo != null" >
        #{orderDiscountinfo,jdbcType=VARCHAR},
      </if>
      <if test="orderPaytype != null" >
        #{orderPaytype,jdbcType=INTEGER},
      </if>
      <if test="orderPayid != null" >
        #{orderPayid,jdbcType=INTEGER},
      </if>
      <if test="orderUserid != null" >
        #{orderUserid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressid != null" >
        #{orderAddressid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressprovince != null" >
        #{orderAddressprovince,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscity != null" >
        #{orderAddresscity,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscounty != null" >
        #{orderAddresscounty,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressstreet != null" >
        #{orderAddressstreet,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressconsignee != null" >
        #{orderAddressconsignee,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressmobile != null" >
        #{orderAddressmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderDeleted != null" >
        #{orderDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ftc.wechat.clean.bean.Order" >
    update cle_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCategory != null" >
        order_category = #{orderCategory,jdbcType=INTEGER},
      </if>
      <if test="orderDatetime != null" >
        order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderServiceNumber != null" >
        order_service_number = #{orderServiceNumber,jdbcType=INTEGER},
      </if>
      <if test="orderStatusid != null" >
        order_statusid = #{orderStatusid,jdbcType=INTEGER},
      </if>
      <if test="orderPayableamount != null" >
        order_payableamount = #{orderPayableamount,jdbcType=DOUBLE},
      </if>
      <if test="orderRealpayamount != null" >
        order_realpayamount = #{orderRealpayamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountamount != null" >
        order_discountamount = #{orderDiscountamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountinfo != null" >
        order_discountinfo = #{orderDiscountinfo,jdbcType=VARCHAR},
      </if>
      <if test="orderPaytype != null" >
        order_paytype = #{orderPaytype,jdbcType=INTEGER},
      </if>
      <if test="orderPayid != null" >
        order_payid = #{orderPayid,jdbcType=INTEGER},
      </if>
      <if test="orderUserid != null" >
        order_userid = #{orderUserid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressid != null" >
        order_addressid = #{orderAddressid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressprovince != null" >
        order_addressprovince = #{orderAddressprovince,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscity != null" >
        order_addresscity = #{orderAddresscity,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscounty != null" >
        order_addresscounty = #{orderAddresscounty,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressstreet != null" >
        order_addressstreet = #{orderAddressstreet,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressconsignee != null" >
        order_addressconsignee = #{orderAddressconsignee,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressmobile != null" >
        order_addressmobile = #{orderAddressmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderDeleted != null" >
        order_deleted = #{orderDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ftc.wechat.clean.bean.Order" >
    update cle_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_category = #{orderCategory,jdbcType=INTEGER},
      order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      order_service_number = #{orderServiceNumber,jdbcType=INTEGER},
      order_statusid = #{orderStatusid,jdbcType=INTEGER},
      order_payableamount = #{orderPayableamount,jdbcType=DOUBLE},
      order_realpayamount = #{orderRealpayamount,jdbcType=DOUBLE},
      order_discountamount = #{orderDiscountamount,jdbcType=DOUBLE},
      order_discountinfo = #{orderDiscountinfo,jdbcType=VARCHAR},
      order_paytype = #{orderPaytype,jdbcType=INTEGER},
      order_payid = #{orderPayid,jdbcType=INTEGER},
      order_userid = #{orderUserid,jdbcType=INTEGER},
      order_addressid = #{orderAddressid,jdbcType=INTEGER},
      order_addressprovince = #{orderAddressprovince,jdbcType=VARCHAR},
      order_addresscity = #{orderAddresscity,jdbcType=VARCHAR},
      order_addresscounty = #{orderAddresscounty,jdbcType=VARCHAR},
      order_addressstreet = #{orderAddressstreet,jdbcType=VARCHAR},
      order_addressconsignee = #{orderAddressconsignee,jdbcType=VARCHAR},
      order_addressmobile = #{orderAddressmobile,jdbcType=VARCHAR},
      order_deleted = #{orderDeleted,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>