<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tech.sayo.wechat.store.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.tech.sayo.wechat.store.bean.Cart" >
    <id column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="cart_productid" property="cartProductid" jdbcType="INTEGER" />
    <result column="cart_qty" property="cartQty" jdbcType="INTEGER" />
    <result column="cart_productname" property="cartProductname" jdbcType="VARCHAR" />
    <result column="cart_productprice" property="cartProductprice" jdbcType="DOUBLE" />
    <result column="cart_productimage" property="cartProductimage" jdbcType="VARCHAR" />
    <result column="cart_product_spec" property="cartProductSpec" jdbcType="VARCHAR" />
    <result column="cart_userid" property="cartUserid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, cart_productid, cart_qty, cart_productname, cart_productprice, cart_productimage, 
    cart_product_spec, cart_userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from str_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from str_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.sayo.wechat.store.bean.Cart" >
    insert into str_cart (cart_id, cart_productid, cart_qty, 
      cart_productname, cart_productprice, cart_productimage, 
      cart_product_spec, cart_userid)
    values (#{cartId,jdbcType=INTEGER}, #{cartProductid,jdbcType=INTEGER}, #{cartQty,jdbcType=INTEGER}, 
      #{cartProductname,jdbcType=VARCHAR}, #{cartProductprice,jdbcType=DOUBLE}, #{cartProductimage,jdbcType=VARCHAR}, 
      #{cartProductSpec,jdbcType=VARCHAR}, #{cartUserid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tech.sayo.wechat.store.bean.Cart" >
    insert into str_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="cartProductid != null" >
        cart_productid,
      </if>
      <if test="cartQty != null" >
        cart_qty,
      </if>
      <if test="cartProductname != null" >
        cart_productname,
      </if>
      <if test="cartProductprice != null" >
        cart_productprice,
      </if>
      <if test="cartProductimage != null" >
        cart_productimage,
      </if>
      <if test="cartProductSpec != null" >
        cart_product_spec,
      </if>
      <if test="cartUserid != null" >
        cart_userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="cartProductid != null" >
        #{cartProductid,jdbcType=INTEGER},
      </if>
      <if test="cartQty != null" >
        #{cartQty,jdbcType=INTEGER},
      </if>
      <if test="cartProductname != null" >
        #{cartProductname,jdbcType=VARCHAR},
      </if>
      <if test="cartProductprice != null" >
        #{cartProductprice,jdbcType=DOUBLE},
      </if>
      <if test="cartProductimage != null" >
        #{cartProductimage,jdbcType=VARCHAR},
      </if>
      <if test="cartProductSpec != null" >
        #{cartProductSpec,jdbcType=VARCHAR},
      </if>
      <if test="cartUserid != null" >
        #{cartUserid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.sayo.wechat.store.bean.Cart" >
    update str_cart
    <set >
      <if test="cartProductid != null" >
        cart_productid = #{cartProductid,jdbcType=INTEGER},
      </if>
      <if test="cartQty != null" >
        cart_qty = #{cartQty,jdbcType=INTEGER},
      </if>
      <if test="cartProductname != null" >
        cart_productname = #{cartProductname,jdbcType=VARCHAR},
      </if>
      <if test="cartProductprice != null" >
        cart_productprice = #{cartProductprice,jdbcType=DOUBLE},
      </if>
      <if test="cartProductimage != null" >
        cart_productimage = #{cartProductimage,jdbcType=VARCHAR},
      </if>
      <if test="cartProductSpec != null" >
        cart_product_spec = #{cartProductSpec,jdbcType=VARCHAR},
      </if>
      <if test="cartUserid != null" >
        cart_userid = #{cartUserid,jdbcType=INTEGER},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.sayo.wechat.store.bean.Cart" >
    update str_cart
    set cart_productid = #{cartProductid,jdbcType=INTEGER},
      cart_qty = #{cartQty,jdbcType=INTEGER},
      cart_productname = #{cartProductname,jdbcType=VARCHAR},
      cart_productprice = #{cartProductprice,jdbcType=DOUBLE},
      cart_productimage = #{cartProductimage,jdbcType=VARCHAR},
      cart_product_spec = #{cartProductSpec,jdbcType=VARCHAR},
      cart_userid = #{cartUserid,jdbcType=INTEGER}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>