<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tech.sayo.wechat.store.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.tech.sayo.wechat.store.bean.StrOrder" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_datetime" property="orderDatetime" jdbcType="VARCHAR" />
    <result column="order_payableamount" property="orderPayableamount" jdbcType="DOUBLE" />
    <result column="order_realpayamount" property="orderRealpayamount" jdbcType="DOUBLE" />
    <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
    <result column="order_discountamount" property="orderDiscountamount" jdbcType="DOUBLE" />
    <result column="order_discountinfo" property="orderDiscountinfo" jdbcType="VARCHAR" />
    <result column="order_paytype" property="orderPaytype" jdbcType="INTEGER" />
    <result column="order_payid" property="orderPayid" jdbcType="INTEGER" />
    <result column="order_deliverytime" property="orderDeliverytime" jdbcType="VARCHAR" />
    <result column="order_deliveryamount" property="orderDeliveryamount" jdbcType="DOUBLE" />
    <result column="order_invoiceid" property="orderInvoiceid" jdbcType="INTEGER" />
    <result column="order_userid" property="orderUserid" jdbcType="INTEGER" />
    <result column="order_addressid" property="orderAddressid" jdbcType="INTEGER" />
    <result column="order_addressprovince" property="orderAddressprovince" jdbcType="VARCHAR" />
    <result column="order_addresscity" property="orderAddresscity" jdbcType="VARCHAR" />
    <result column="order_addresscounty" property="orderAddresscounty" jdbcType="VARCHAR" />
    <result column="order_addressstreet" property="orderAddressstreet" jdbcType="VARCHAR" />
    <result column="order_addressconsignee" property="orderAddressconsignee" jdbcType="VARCHAR" />
    <result column="order_addressmobile" property="orderAddressmobile" jdbcType="VARCHAR" />
    <result column="order_deleted" property="orderDeleted" jdbcType="INTEGER" />
    <result column="order_statusid" property="orderStatusid" jdbcType="INTEGER" />
    <result column="order_storeid" property="orderStoreId" jdbcType="INTEGER" />
    <association column="order_storeid" property="orderStore" javaType="com.tech.sayo.wechat.store.bean.Store">
    	<id column="store_id" property="storeId" jdbcType="INTEGER" />
	    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
	    <result column="store_servicetime_from" property="storeServicetimeFrom" jdbcType="VARCHAR" />
	    <result column="store_servicetime_to" property="storeServicetimeTo" jdbcType="VARCHAR" />
	    <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
	    <result column="store_number" property="storeNumber" jdbcType="VARCHAR" />
	    <result column="store_minimums" property="storeMinimums" jdbcType="DOUBLE" />
	    <result column="store_deliveryamount" property="storeDeliveryamount" jdbcType="DOUBLE" />
	    <result column="store_image" property="storeImage" jdbcType="VARCHAR" />
	    <result column="store_bmap_lng" property="storeBmapLng" jdbcType="VARCHAR" />
	    <result column="store_bmap_lat" property="storeBmapLat" jdbcType="VARCHAR" />
    </association>
    <association column="order_statusid" property="orderStatus" javaType="com.tech.sayo.background.sys.bean.Status">
    	<id column="status_id" property="statusId" jdbcType="INTEGER" />
    	<result column="status_name" property="statusName" jdbcType="VARCHAR" />
    	<result column="status_code" property="statusCode" jdbcType="VARCHAR" />
    </association>
    <association column="order_invoiceid" property="orderInvoice" javaType="com.tech.sayo.wechat.store.bean.Invoice">
    	<id column="invoice_id" property="invoiceId" jdbcType="INTEGER" />
	    <result column="invoice_datetime" property="invoiceDatetime" jdbcType="VARCHAR" />
	    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
	    <result column="invoice_content" property="invoiceContent" jdbcType="VARCHAR" />
	    <result column="invoice_amount" property="invoiceAmount" jdbcType="DOUBLE" />
	    <result column="invoice_tempid" property="tempid" jdbcType="VARCHAR" />
    </association>
    <collection column="detail_orderid" property="orderDetail" ofType="com.tech.sayo.wechat.store.bean.StrOrderDetail">
	    <id column="detail_id" property="detailId" jdbcType="INTEGER" />
	    <result column="detail_orderid" property="detailOrderid" jdbcType="INTEGER" />
	    <result column="detail_orderno" property="detailOrderno" jdbcType="VARCHAR" />
	    <result column="detail_productid" property="detailProductid" jdbcType="INTEGER" />
	    <result column="detail_qty" property="detailQty" jdbcType="INTEGER" />
	    <result column="detail_amount" property="detailAmount" jdbcType="DOUBLE" />
	    <result column="detail_productname" property="detailProductname" jdbcType="VARCHAR" />
	    <result column="detail_productprice" property="detailProductprice" jdbcType="DOUBLE" />
	    <result column="detail_productimage" property="detailProductimage" jdbcType="VARCHAR" />
	    <result column="detail_productspec" property="detailProductspec" jdbcType="VARCHAR" />
  	</collection>
  </resultMap>
  <resultMap id="serialResultMap" type="com.tech.sayo.base.util.OrderNoUtil" >
    <result column="serial" property="serial" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_no, order_datetime, order_payableamount, order_realpayamount, order_amount, 
    order_discountamount, order_discountinfo, order_paytype, order_payid, order_deliverytime, 
    order_deliveryamount, order_invoiceid, order_userid, order_addressid, order_addressprovince, 
    order_addresscity, order_addresscounty, order_addressstreet, order_addressconsignee, 
    order_addressmobile, order_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   
	SELECT a.*,
    	   b.*,
    	   c.*,
    	   d.*,
    	   e.*
    FROM str_order a 
    LEFT JOIN sys_status b ON a.order_statusid = b.status_id
    LEFT JOIN str_order_detail c ON a.order_id = c.detail_orderid
    LEFT JOIN str_invoice d ON a.order_invoiceid = d.invoice_id
    LEFT JOIN str_store e ON a.order_storeid = e.store_id
    WHERE order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT a.*,
    	   b.*,
    	   c.*,
    	   d.*,
    	   e.*
    FROM str_order a 
    LEFT JOIN sys_status b ON a.order_statusid = b.status_id
    LEFT JOIN str_order_detail c ON a.order_id = c.detail_orderid
    LEFT JOIN str_invoice d ON a.order_invoiceid = d.invoice_id
    LEFT JOIN str_store e ON a.order_storeid = e.store_id
    WHERE order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByOrderStatus" resultMap="BaseResultMap" parameterType="com.tech.sayo.wechat.store.bean.StrOrder" >
    SELECT a.*,
    	   b.*,
    	   d.*,
    	   e.*
    FROM str_order a 
    LEFT JOIN sys_status b ON a.order_statusid = b.status_id
    LEFT JOIN str_invoice d ON a.order_invoiceid = d.invoice_id
    LEFT JOIN str_store e ON a.order_storeid = e.store_id
    WHERE 1 = 1
    <if test="statusCode != null and statusCode != ''">
		and b.status_code = #{statusCode,jdbcType=VARCHAR}
	</if>
	<if test="orderUserid != null" >
        and order_userid = #{orderUserid,jdbcType=INTEGER}
        and order_deleted is null
    </if>
  </select>
  <select id="selectSerial" resultMap="serialResultMap" parameterType="java.lang.Integer" >
   select 
    (count(1) + 1) as serial
    from str_order
    where date_format(order_datetime,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from str_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.sayo.wechat.store.bean.StrOrder">
    insert into str_order (order_id, order_no, order_datetime,order_statusid, 
      order_payableamount, order_realpayamount, order_amount, 
      order_discountamount, order_discountinfo, 
      order_paytype, order_payid, order_deliverytime, 
      order_deliveryamount, order_invoiceid, order_userid, 
      order_addressid, order_addressprovince, order_addresscity, 
      order_addresscounty, order_addressstreet, 
      order_addressconsignee, order_addressmobile, 
      order_deleted,order_storeid)
    values (#{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderDatetime,jdbcType=VARCHAR},#{orderStatusid,jdbcType=INTEGER}, 
      #{orderPayableamount,jdbcType=DOUBLE}, #{orderRealpayamount,jdbcType=DOUBLE}, #{orderAmount,jdbcType=DOUBLE}, 
      #{orderDiscountamount,jdbcType=DOUBLE}, #{orderDiscountinfo,jdbcType=VARCHAR}, 
      #{orderPaytype,jdbcType=INTEGER}, #{orderPayid,jdbcType=INTEGER}, #{orderDeliverytime,jdbcType=VARCHAR}, 
      #{orderDeliveryamount,jdbcType=DOUBLE}, #{orderInvoiceid,jdbcType=INTEGER}, #{orderUserid,jdbcType=INTEGER}, 
      #{orderAddressid,jdbcType=INTEGER}, #{orderAddressprovince,jdbcType=VARCHAR}, #{orderAddresscity,jdbcType=VARCHAR}, 
      #{orderAddresscounty,jdbcType=VARCHAR}, #{orderAddressstreet,jdbcType=VARCHAR}, 
      #{orderAddressconsignee,jdbcType=VARCHAR}, #{orderAddressmobile,jdbcType=VARCHAR}, 
      #{orderDeleted,jdbcType=INTEGER},#{orderStoreId,jdbcType=INTEGER})
      
      
  </insert>
  <insert id="insertSelective" parameterType="com.tech.sayo.wechat.store.bean.StrOrder" >
    insert into str_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderDatetime != null" >
        order_datetime,
      </if>
       <if test="orderStatusid != null" >
        order_statusid,
      </if>
      <if test="orderPayableamount != null" >
        order_payableamount,
      </if>
      <if test="orderRealpayamount != null" >
        order_realpayamount,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="orderDiscountamount != null" >
        order_discountamount,
      </if>
      <if test="orderDiscountinfo != null" >
        order_discountinfo,
      </if>
      <if test="orderPaytype != null" >
        order_paytype,
      </if>
      <if test="orderPayid != null" >
        order_payid,
      </if>
      <if test="orderDeliverytime != null" >
        order_deliverytime,
      </if>
      <if test="orderDeliveryamount != null" >
        order_deliveryamount,
      </if>
      <if test="orderInvoiceid != null" >
        order_invoiceid,
      </if>
      <if test="orderUserid != null" >
        order_userid,
      </if>
      <if test="orderAddressid != null" >
        order_addressid,
      </if>
      <if test="orderAddressprovince != null" >
        order_addressprovince,
      </if>
      <if test="orderAddresscity != null" >
        order_addresscity,
      </if>
      <if test="orderAddresscounty != null" >
        order_addresscounty,
      </if>
      <if test="orderAddressstreet != null" >
        order_addressstreet,
      </if>
      <if test="orderAddressconsignee != null" >
        order_addressconsignee,
      </if>
      <if test="orderAddressmobile != null" >
        order_addressmobile,
      </if>
      <if test="orderDeleted != null" >
        order_deleted,
      </if>
       <if test="orderStoreId != null" >
        order_storeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDatetime != null" >
        #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderStatusid != null" >
        #{orderStatusid,jdbcType=INTEGER},
      </if>
      <if test="orderPayableamount != null" >
        #{orderPayableamount,jdbcType=DOUBLE},
      </if>
      <if test="orderRealpayamount != null" >
        #{orderRealpayamount,jdbcType=DOUBLE},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountamount != null" >
        #{orderDiscountamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountinfo != null" >
        #{orderDiscountinfo,jdbcType=VARCHAR},
      </if>
      <if test="orderPaytype != null" >
        #{orderPaytype,jdbcType=INTEGER},
      </if>
      <if test="orderPayid != null" >
        #{orderPayid,jdbcType=INTEGER},
      </if>
      <if test="orderDeliverytime != null" >
        #{orderDeliverytime,jdbcType=VARCHAR},
      </if>
      <if test="orderDeliveryamount != null" >
        #{orderDeliveryamount,jdbcType=DOUBLE},
      </if>
      <if test="orderInvoiceid != null" >
        #{orderInvoiceid,jdbcType=INTEGER},
      </if>
      <if test="orderUserid != null" >
        #{orderUserid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressid != null" >
        #{orderAddressid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressprovince != null" >
        #{orderAddressprovince,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscity != null" >
        #{orderAddresscity,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscounty != null" >
        #{orderAddresscounty,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressstreet != null" >
        #{orderAddressstreet,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressconsignee != null" >
        #{orderAddressconsignee,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressmobile != null" >
        #{orderAddressmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderDeleted != null" >
        #{orderDeleted,jdbcType=INTEGER},
      </if>
       <if test="orderStoreId != null" >
        #{orderStoreId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.sayo.wechat.store.bean.StrOrder" >
    update str_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDatetime != null" >
        order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderStatusid != null" >
        order_statusid = #{orderStatusid,jdbcType=INTEGER},
      </if>
      <if test="orderPayableamount != null" >
        order_payableamount = #{orderPayableamount,jdbcType=DOUBLE},
      </if>
      <if test="orderRealpayamount != null" >
        order_realpayamount = #{orderRealpayamount,jdbcType=DOUBLE},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountamount != null" >
        order_discountamount = #{orderDiscountamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountinfo != null" >
        order_discountinfo = #{orderDiscountinfo,jdbcType=VARCHAR},
      </if>
      <if test="orderPaytype != null" >
        order_paytype = #{orderPaytype,jdbcType=INTEGER},
      </if>
      <if test="orderPayid != null" >
        order_payid = #{orderPayid,jdbcType=INTEGER},
      </if>
      <if test="orderDeliverytime != null" >
        order_deliverytime = #{orderDeliverytime,jdbcType=VARCHAR},
      </if>
      <if test="orderDeliveryamount != null" >
        order_deliveryamount = #{orderDeliveryamount,jdbcType=DOUBLE},
      </if>
      <if test="orderInvoiceid != null" >
        order_invoiceid = #{orderInvoiceid,jdbcType=INTEGER},
      </if>
      <if test="orderUserid != null" >
        order_userid = #{orderUserid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressid != null" >
        order_addressid = #{orderAddressid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressprovince != null" >
        order_addressprovince = #{orderAddressprovince,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscity != null" >
        order_addresscity = #{orderAddresscity,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscounty != null" >
        order_addresscounty = #{orderAddresscounty,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressstreet != null" >
        order_addressstreet = #{orderAddressstreet,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressconsignee != null" >
        order_addressconsignee = #{orderAddressconsignee,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressmobile != null" >
        order_addressmobile = #{orderAddressmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderDeleted != null" >
        order_deleted = #{orderDeleted,jdbcType=INTEGER},
      </if>
      <if test="orderStoreId != null" >
        order_storeid = #{orderStoreId,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.sayo.wechat.store.bean.StrOrder" >
    update str_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_statusid = #{orderStatusid,jdbcType=INTEGER},
      order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      order_payableamount = #{orderPayableamount,jdbcType=DOUBLE},
      order_realpayamount = #{orderRealpayamount,jdbcType=DOUBLE},
      order_amount = #{orderAmount,jdbcType=DOUBLE},
      order_discountamount = #{orderDiscountamount,jdbcType=DOUBLE},
      order_discountinfo = #{orderDiscountinfo,jdbcType=VARCHAR},
      order_paytype = #{orderPaytype,jdbcType=INTEGER},
      order_payid = #{orderPayid,jdbcType=INTEGER},
      order_deliverytime = #{orderDeliverytime,jdbcType=VARCHAR},
      order_deliveryamount = #{orderDeliveryamount,jdbcType=DOUBLE},
      order_invoiceid = #{orderInvoiceid,jdbcType=INTEGER},
      order_userid = #{orderUserid,jdbcType=INTEGER},
      order_addressid = #{orderAddressid,jdbcType=INTEGER},
      order_addressprovince = #{orderAddressprovince,jdbcType=VARCHAR},
      order_addresscity = #{orderAddresscity,jdbcType=VARCHAR},
      order_addresscounty = #{orderAddresscounty,jdbcType=VARCHAR},
      order_addressstreet = #{orderAddressstreet,jdbcType=VARCHAR},
      order_addressconsignee = #{orderAddressconsignee,jdbcType=VARCHAR},
      order_addressmobile = #{orderAddressmobile,jdbcType=VARCHAR},
      order_deleted = #{orderDeleted,jdbcType=INTEGER},
      order_storeid = #{orderStoreId,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>