<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tech.sayo.wechat.clean.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.tech.sayo.wechat.clean.bean.Category" >
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="category_price" property="categoryPrice" jdbcType="DOUBLE" />
    <result column="category_price_unit" property="categoryPriceUnit" jdbcType="INTEGER" />
    <result column="category_image" property="categoryImage" jdbcType="VARCHAR" />
    <result column="category_servicetime_from" property="categoryServicetimeFrom" jdbcType="VARCHAR" />
    <result column="category_servicetime_to" property="categoryServicetimeTo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, category_code, category_name, category_price, category_price_unit, category_image, 
    category_servicetime_from, category_servicetime_to
  </sql>
  <select id="selectByAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from cle_category
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cle_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cle_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.sayo.wechat.clean.bean.Category" >
    insert into cle_category (category_id, category_code, category_name, 
      category_price, category_price_unit, category_image, 
      category_servicetime_from, category_servicetime_to
      )
    values (#{categoryId,jdbcType=INTEGER}, #{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{categoryPrice,jdbcType=DOUBLE}, #{categoryPriceUnit,jdbcType=INTEGER}, #{categoryImage,jdbcType=VARCHAR}, 
      #{categoryServicetimeFrom,jdbcType=VARCHAR}, #{categoryServicetimeTo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tech.sayo.wechat.clean.bean.Category" >
    insert into cle_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryCode != null" >
        category_code,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="categoryPrice != null" >
        category_price,
      </if>
      <if test="categoryPriceUnit != null" >
        category_price_unit,
      </if>
      <if test="categoryImage != null" >
        category_image,
      </if>
      <if test="categoryServicetimeFrom != null" >
        category_servicetime_from,
      </if>
      <if test="categoryServicetimeTo != null" >
        category_servicetime_to,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryPrice != null" >
        #{categoryPrice,jdbcType=DOUBLE},
      </if>
      <if test="categoryPriceUnit != null" >
        #{categoryPriceUnit,jdbcType=INTEGER},
      </if>
      <if test="categoryImage != null" >
        #{categoryImage,jdbcType=VARCHAR},
      </if>
      <if test="categoryServicetimeFrom != null" >
        #{categoryServicetimeFrom,jdbcType=VARCHAR},
      </if>
      <if test="categoryServicetimeTo != null" >
        #{categoryServicetimeTo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.sayo.wechat.clean.bean.Category" >
    update cle_category
    <set >
      <if test="categoryCode != null" >
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryPrice != null" >
        category_price = #{categoryPrice,jdbcType=DOUBLE},
      </if>
      <if test="categoryPriceUnit != null" >
        category_price_unit = #{categoryPriceUnit,jdbcType=INTEGER},
      </if>
      <if test="categoryImage != null" >
        category_image = #{categoryImage,jdbcType=VARCHAR},
      </if>
      <if test="categoryServicetimeFrom != null" >
        category_servicetime_from = #{categoryServicetimeFrom,jdbcType=VARCHAR},
      </if>
      <if test="categoryServicetimeTo != null" >
        category_servicetime_to = #{categoryServicetimeTo,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.sayo.wechat.clean.bean.Category" >
    update cle_category
    set category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      category_price = #{categoryPrice,jdbcType=DOUBLE},
      category_price_unit = #{categoryPriceUnit,jdbcType=INTEGER},
      category_image = #{categoryImage,jdbcType=VARCHAR},
      category_servicetime_from = #{categoryServicetimeFrom,jdbcType=VARCHAR},
      category_servicetime_to = #{categoryServicetimeTo,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>