<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ftc.wechat.account.dao.CleNanOrderStaffMapper" >
  <resultMap id="BaseResultMap" type="com.tech.sayo.wechat.clean.bean.CleNanOrderStaff" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_staffid" property="orderStaffid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, order_staffid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cle_nan_order_staff
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cle_nan_order_staff
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.sayo.wechat.clean.bean.CleNanOrderStaff" >
    insert into cle_nan_order_staff (id, order_id, order_staffid
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{orderStaffid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertByBatch" parameterType="java.util.List" >
    insert into cle_nan_order_staff (id, order_id, order_staffid
      )
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
     (#{item.id,jdbcType=INTEGER}, #{item.orderId,jdbcType=INTEGER}, #{item.orderStaffid,jdbcType=INTEGER}
      )
    </foreach>  
    
  
  </insert>
  <insert id="insertSelective" parameterType="com.tech.sayo.wechat.clean.bean.CleNanOrderStaff" >
    insert into cle_nan_order_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderStaffid != null" >
        order_staffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderStaffid != null" >
        #{orderStaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.sayo.wechat.clean.bean.CleNanOrderStaff" >
    update cle_nan_order_staff
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderStaffid != null" >
        order_staffid = #{orderStaffid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.sayo.wechat.clean.bean.CleNanOrderStaff" >
    update cle_nan_order_staff
    set order_id = #{orderId,jdbcType=INTEGER},
      order_staffid = #{orderStaffid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>