<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tech.sayo.wechat.clean.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.tech.sayo.wechat.clean.bean.CleOrder">
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_categoryid" property="orderCategoryId" jdbcType="INTEGER" />
    <result column="order_datetime" property="orderDatetime" jdbcType="VARCHAR" />
    <result column="order_service_number" property="orderServiceNumber" jdbcType="INTEGER" />
    <result column="order_statusid" property="orderStatusid" jdbcType="INTEGER" />
    <result column="order_payableamount" property="orderPayableamount" jdbcType="DOUBLE" />
    <result column="order_realpayamount" property="orderRealpayamount" jdbcType="DOUBLE" />
    <result column="order_discountamount" property="orderDiscountamount" jdbcType="DOUBLE" />
    <result column="order_discountinfo" property="orderDiscountinfo" jdbcType="VARCHAR" />
    <result column="order_paytype" property="orderPaytype" jdbcType="INTEGER" />
    <result column="order_payid" property="orderPayid" jdbcType="INTEGER" />
    <result column="order_userid" property="orderUserid" jdbcType="INTEGER" />
    <result column="order_addressid" property="orderAddressid" jdbcType="INTEGER" />
    <result column="order_addressprovince" property="orderAddressprovince" jdbcType="VARCHAR" />
    <result column="order_addresscity" property="orderAddresscity" jdbcType="VARCHAR" />
    <result column="order_addresscounty" property="orderAddresscounty" jdbcType="VARCHAR" />
    <result column="order_addressstreet" property="orderAddressstreet" jdbcType="VARCHAR" />
    <result column="order_addressconsignee" property="orderAddressconsignee" jdbcType="VARCHAR" />
    <result column="order_addressmobile" property="orderAddressmobile" jdbcType="VARCHAR" />
    <result column="order_deleted" property="orderDeleted" jdbcType="INTEGER" />
    <result column="order_staffid" property="orderStaffid" jdbcType="INTEGER" />
    <association column="order_categoryid" property="orderCategory" javaType="com.tech.sayo.wechat.clean.bean.Category">
  		<id column="category_id" property="categoryId" jdbcType="INTEGER" />
	    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
	    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
	    <result column="category_price" property="categoryPrice" jdbcType="DOUBLE" />
	    <result column="category_price_unit" property="categoryPriceUnit" jdbcType="INTEGER" />
	    <result column="category_image" property="categoryImage" jdbcType="VARCHAR" />
	    <result column="category_servicetime_from" property="categoryServicetimeFrom" jdbcType="VARCHAR" />
	    <result column="category_servicetime_to" property="categoryServicetimeTo" jdbcType="VARCHAR" />
  	</association>
    <association column="order_staffid" property="staff" javaType="com.tech.sayo.wechat.clean.bean.Staff">
  		<id column="staff_id" property="staffId" jdbcType="INTEGER" />
	    <result column="staff_code" property="staffCode" jdbcType="VARCHAR" />
	    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
	    <result column="staff_age" property="staffAge" jdbcType="INTEGER" />
	    <result column="staff_image" property="staffImage" jdbcType="VARCHAR" />
	    <result column="staff_nativeplace" property="staffNativeplace" jdbcType="VARCHAR" />
	    <result column="staff_idcode" property="staffIdcode" jdbcType="VARCHAR" />
	    <result column="staff_mobile" property="staffMobile" jdbcType="VARCHAR" />
	    <result column="staff_statusid" property="staffStatusId" jdbcType="INTEGER" />
  	</association>
  	<association column="order_statusid" property="orderStatus" javaType="com.tech.sayo.background.sys.bean.Status">
  		<id column="status_id" property="statusId" jdbcType="INTEGER" />
	    <result column="status_name" property="statusName" jdbcType="VARCHAR" />
	    <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
  	</association>
    <collection column="detail_orderid" property="orderDetail" ofType="com.tech.sayo.wechat.clean.bean.CleOrderDetail">
  		 <id column="detail_id" property="detailId" jdbcType="INTEGER" />
	    <result column="detail_orderid" property="detailOrderid" jdbcType="INTEGER" />
	    <result column="detail_orderno" property="detailOrderno" jdbcType="VARCHAR" />
	    <result column="detai_amount" property="detaiAmount" jdbcType="DOUBLE" />
	    <result column="detail_service_price" property="detailServicePrice" jdbcType="DOUBLE" />
	    <result column="detail_service_hours" property="detailServiceHours" jdbcType="INTEGER" />
	    <result column="detail_service_metre" property="detailServiceMetre" jdbcType="INTEGER" />
	    <result column="detail_service_from" property="detailServiceFrom" jdbcType="VARCHAR" />
	    <result column="detail_service_to" property="detailServiceTo" jdbcType="VARCHAR" />
	    <result column="detail_type" property="detailType" jdbcType="INTEGER" />
	    <result column="detail_staffid" property="detailStaffid" jdbcType="INTEGER" />
	</collection>
	<collection column="order_cle_orderid" property="order" ofType="com.tech.sayo.wechat.clean.bean.DifOrder">
  		 <id column="diforder_id" property="orderId" jdbcType="INTEGER" />
	    <result column="diforder_no" property="orderNo" jdbcType="VARCHAR" />
	    <result column="diforder_datetime" property="orderDatetime" jdbcType="VARCHAR" />
	    <result column="diforder_cle_orderid" property="orderCleOrderid" jdbcType="INTEGER" />
	    <result column="diforder_cle_orderno" property="orderCleOrderno" jdbcType="VARCHAR" />
	    <result column="diforder_amount" property="orderAmount" jdbcType="DOUBLE" />
	    <result column="diforder_statusid" property="orderStatusid" jdbcType="INTEGER" />
	    <association column="order_statusid" property="orderStatus" javaType="com.tech.sayo.background.sys.bean.Status">
	  		<id column="difstatus_id" property="statusId" jdbcType="INTEGER" />
		    <result column="difstatus_name" property="statusName" jdbcType="VARCHAR" />
		    <result column="difstatus_code" property="statusCode" jdbcType="VARCHAR" />
	  	</association>
	</collection>
  </resultMap>
  <resultMap id="serialResultMap" type="com.tech.sayo.base.util.OrderNoUtil" >
    <result column="serial" property="serial" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT a.*,
	       b.*,
	       c.*,
	       d.*,
	       e.*,
	       f.order_id as diforder_id,
	       f.order_no as diforder_no,
	       f.order_datetime as diforder_datetime,
	       f.order_cle_orderid as diforder_cle_orderid,
	       f.order_cle_orderno as diforder_cle_orderno,
	       f.order_amount as diforder_amount,
	       f.order_statusid as diforder_statusid,
	       g.status_id as difstatus_id,
	       g.status_name as difstatus_name,
	       g.status_code as difstatus_code
	FROM cle_order a
	LEFT JOIN cle_staff b ON a.order_staffid = b.staff_id
	LEFT JOIN sys_status c ON a.order_statusid = c.status_id
	LEFT JOIN cle_order_detail d ON a.order_id = d.detail_orderid
	LEFT JOIN cle_category e ON a.order_categoryid = e.category_id
	LEFT JOIN cle_dif_order f ON a.order_id = f.order_cle_orderid
	LEFT JOIN sys_status g ON f.order_statusid = g.status_id
	WHERE a.order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT a.*,
	       b.*,
	       c.*,
	       d.*,
	       e.*,
	       f.order_id as diforder_id,
	       f.order_no as diforder_no,
	       f.order_datetime as diforder_datetime,
	       f.order_cle_orderid as diforder_cle_orderid,
	       f.order_cle_orderno as diforder_cle_orderno,
	       f.order_amount as diforder_amount,
	       f.order_statusid as diforder_statusid,
	       g.status_id as difstatus_id,
	       g.status_name as difstatus_name,
	       g.status_code as difstatus_code
	FROM cle_order a
	LEFT JOIN cle_staff b ON a.order_staffid = b.staff_id
	LEFT JOIN sys_status c ON a.order_statusid = c.status_id
	LEFT JOIN cle_order_detail d ON a.order_id = d.detail_orderid
	LEFT JOIN cle_category e ON a.order_categoryid = e.category_id
	LEFT JOIN cle_dif_order f ON a.order_id = f.order_cle_orderid
	LEFT JOIN sys_status g ON f.order_statusid = g.status_id
	WHERE a.order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByOrderStatus" resultMap="BaseResultMap" parameterType="com.tech.sayo.wechat.clean.bean.CleOrder" >
    SELECT a.*,
	       b.*,
	       c.*,
	       e.*,
	       f.order_id as diforder_id,
	       f.order_no as diforder_no,
	       f.order_datetime as diforder_datetime,
	       f.order_cle_orderid as diforder_cle_orderid,
	       f.order_cle_orderno as diforder_cle_orderno,
	       f.order_amount as diforder_amount,
	       f.order_statusid as diforder_statusid,
	       g.status_id as difstatus_id,
	       g.status_name as difstatus_name,
	       g.status_code as difstatus_code
	FROM cle_order a
	LEFT JOIN cle_staff b ON a.order_staffid = b.staff_id
	LEFT JOIN sys_status c ON a.order_statusid = c.status_id
	LEFT JOIN cle_category e ON a.order_categoryid = e.category_id
	LEFT JOIN cle_dif_order f ON a.order_id = f.order_cle_orderid
	LEFT JOIN sys_status g ON f.order_statusid = g.status_id
	WHERE 1 =1 
	<if test="statusCode != null and statusCode != ''">
		and c.status_code = #{statusCode,jdbcType=VARCHAR}
	</if>
	<if test="orderUserid != null" >
        and order_userid = #{orderUserid,jdbcType=INTEGER}
        and order_deleted is null
    </if>
  </select>
  <select id="selectSerial" resultMap="serialResultMap" >
   select 
    (count(1) + 1) as serial
    from cle_order
    where date_format(order_datetime,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cle_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tech.sayo.wechat.clean.bean.CleOrder" >
    insert into cle_order (order_id, order_no, order_categoryid, 
      order_datetime, order_service_number, order_statusid, 
      order_payableamount, order_realpayamount, order_discountamount, 
      order_discountinfo, order_paytype, order_payid, 
      order_userid, order_addressid, order_addressprovince, 
      order_addresscity, order_addresscounty, order_addressstreet, 
      order_addressconsignee, order_addressmobile, 
      order_deleted,order_staffid)
    values (#{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderCategoryId,jdbcType=INTEGER}, 
      #{orderDatetime,jdbcType=VARCHAR}, #{orderServiceNumber,jdbcType=INTEGER}, #{orderStatusid,jdbcType=INTEGER}, 
      #{orderPayableamount,jdbcType=DOUBLE}, #{orderRealpayamount,jdbcType=DOUBLE}, #{orderDiscountamount,jdbcType=DOUBLE}, 
      #{orderDiscountinfo,jdbcType=VARCHAR}, #{orderPaytype,jdbcType=INTEGER}, #{orderPayid,jdbcType=INTEGER}, 
      #{orderUserid,jdbcType=INTEGER}, #{orderAddressid,jdbcType=INTEGER}, #{orderAddressprovince,jdbcType=VARCHAR}, 
      #{orderAddresscity,jdbcType=VARCHAR}, #{orderAddresscounty,jdbcType=VARCHAR}, #{orderAddressstreet,jdbcType=VARCHAR}, 
      #{orderAddressconsignee,jdbcType=VARCHAR}, #{orderAddressmobile,jdbcType=VARCHAR}, 
      #{orderDeleted,jdbcType=INTEGER},#{orderStaffid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tech.sayo.wechat.clean.bean.CleOrder" >
    insert into cle_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderCategoryId != null" >
        order_categoryid,
      </if>
      <if test="orderDatetime != null" >
        order_datetime,
      </if>
      <if test="orderServiceNumber != null" >
        order_service_number,
      </if>
      <if test="orderStatusid != null" >
        order_statusid,
      </if>
      <if test="orderPayableamount != null" >
        order_payableamount,
      </if>
      <if test="orderRealpayamount != null" >
        order_realpayamount,
      </if>
      <if test="orderDiscountamount != null" >
        order_discountamount,
      </if>
      <if test="orderDiscountinfo != null" >
        order_discountinfo,
      </if>
      <if test="orderPaytype != null" >
        order_paytype,
      </if>
      <if test="orderPayid != null" >
        order_payid,
      </if>
      <if test="orderUserid != null" >
        order_userid,
      </if>
      <if test="orderAddressid != null" >
        order_addressid,
      </if>
      <if test="orderAddressprovince != null" >
        order_addressprovince,
      </if>
      <if test="orderAddresscity != null" >
        order_addresscity,
      </if>
      <if test="orderAddresscounty != null" >
        order_addresscounty,
      </if>
      <if test="orderAddressstreet != null" >
        order_addressstreet,
      </if>
      <if test="orderAddressconsignee != null" >
        order_addressconsignee,
      </if>
      <if test="orderAddressmobile != null" >
        order_addressmobile,
      </if>
      <if test="orderDeleted != null" >
        order_deleted,
      </if>
      <if test="orderStaffid != null" >
        order_staffid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCategoryId != null" >
        #{orderCategoryId,jdbcType=INTEGER},
      </if>
      <if test="orderDatetime != null" >
        #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderServiceNumber != null" >
        #{orderServiceNumber,jdbcType=INTEGER},
      </if>
      <if test="orderStatusid != null" >
        #{orderStatusid,jdbcType=INTEGER},
      </if>
      <if test="orderPayableamount != null" >
        #{orderPayableamount,jdbcType=DOUBLE},
      </if>
      <if test="orderRealpayamount != null" >
        #{orderRealpayamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountamount != null" >
        #{orderDiscountamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountinfo != null" >
        #{orderDiscountinfo,jdbcType=VARCHAR},
      </if>
      <if test="orderPaytype != null" >
        #{orderPaytype,jdbcType=INTEGER},
      </if>
      <if test="orderPayid != null" >
        #{orderPayid,jdbcType=INTEGER},
      </if>
      <if test="orderUserid != null" >
        #{orderUserid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressid != null" >
        #{orderAddressid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressprovince != null" >
        #{orderAddressprovince,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscity != null" >
        #{orderAddresscity,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscounty != null" >
        #{orderAddresscounty,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressstreet != null" >
        #{orderAddressstreet,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressconsignee != null" >
        #{orderAddressconsignee,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressmobile != null" >
        #{orderAddressmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderDeleted != null" >
        #{orderDeleted,jdbcType=INTEGER},
      </if>
      <if test="orderStaffid != null" >
        #{orderStaffid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tech.sayo.wechat.clean.bean.CleOrder" >
    update cle_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCategoryId != null" >
        order_categoryid = #{orderCategoryId,jdbcType=INTEGER},
      </if>
      <if test="orderDatetime != null" >
        order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderServiceNumber != null" >
        order_service_number = #{orderServiceNumber,jdbcType=INTEGER},
      </if>
      <if test="orderStatusid != null" >
        order_statusid = #{orderStatusid,jdbcType=INTEGER},
      </if>
      <if test="orderPayableamount != null" >
        order_payableamount = #{orderPayableamount,jdbcType=DOUBLE},
      </if>
      <if test="orderRealpayamount != null" >
        order_realpayamount = #{orderRealpayamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountamount != null" >
        order_discountamount = #{orderDiscountamount,jdbcType=DOUBLE},
      </if>
      <if test="orderDiscountinfo != null" >
        order_discountinfo = #{orderDiscountinfo,jdbcType=VARCHAR},
      </if>
      <if test="orderPaytype != null" >
        order_paytype = #{orderPaytype,jdbcType=INTEGER},
      </if>
      <if test="orderPayid != null" >
        order_payid = #{orderPayid,jdbcType=INTEGER},
      </if>
      <if test="orderUserid != null" >
        order_userid = #{orderUserid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressid != null" >
        order_addressid = #{orderAddressid,jdbcType=INTEGER},
      </if>
      <if test="orderAddressprovince != null" >
        order_addressprovince = #{orderAddressprovince,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscity != null" >
        order_addresscity = #{orderAddresscity,jdbcType=VARCHAR},
      </if>
      <if test="orderAddresscounty != null" >
        order_addresscounty = #{orderAddresscounty,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressstreet != null" >
        order_addressstreet = #{orderAddressstreet,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressconsignee != null" >
        order_addressconsignee = #{orderAddressconsignee,jdbcType=VARCHAR},
      </if>
      <if test="orderAddressmobile != null" >
        order_addressmobile = #{orderAddressmobile,jdbcType=VARCHAR},
      </if>
      <if test="orderDeleted != null" >
        order_deleted = #{orderDeleted,jdbcType=INTEGER},
      </if>
      <if test="orderStaffid != null" >
        order_staffid = #{orderStaffid,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tech.sayo.wechat.clean.bean.CleOrder" >
    update cle_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_categoryid = #{orderCategoryId,jdbcType=INTEGER},
      order_datetime = #{orderDatetime,jdbcType=VARCHAR},
      order_service_number = #{orderServiceNumber,jdbcType=INTEGER},
      order_statusid = #{orderStatusid,jdbcType=INTEGER},
      order_payableamount = #{orderPayableamount,jdbcType=DOUBLE},
      order_realpayamount = #{orderRealpayamount,jdbcType=DOUBLE},
      order_discountamount = #{orderDiscountamount,jdbcType=DOUBLE},
      order_discountinfo = #{orderDiscountinfo,jdbcType=VARCHAR},
      order_paytype = #{orderPaytype,jdbcType=INTEGER},
      order_payid = #{orderPayid,jdbcType=INTEGER},
      order_userid = #{orderUserid,jdbcType=INTEGER},
      order_addressid = #{orderAddressid,jdbcType=INTEGER},
      order_addressprovince = #{orderAddressprovince,jdbcType=VARCHAR},
      order_addresscity = #{orderAddresscity,jdbcType=VARCHAR},
      order_addresscounty = #{orderAddresscounty,jdbcType=VARCHAR},
      order_addressstreet = #{orderAddressstreet,jdbcType=VARCHAR},
      order_addressconsignee = #{orderAddressconsignee,jdbcType=VARCHAR},
      order_addressmobile = #{orderAddressmobile,jdbcType=VARCHAR},
      order_deleted = #{orderDeleted,jdbcType=INTEGER},
      order_staffid = #{orderStaffid,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>